<%= render "shared/header" %>

<%= form_with(model: @user, local: true) do |form| %>

   <div class="img-upload">
      <div class="weight-bold-text">
        商品画像
      </div>
      <div class="click-upload">
        <p>クリックしてファイルをアップロード⇓</p>
        <%= file_field :image, id:"item-image" %>
        <div class="actions">
        <%= form.submit "更新" %>
        </div>
      </div>
    </div>
  
<% end %>
<%= image_tag (@user.image_url), class: 'main-image' if @user.image.attached? %>